*   
    body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
    color: #333;
  }

    header {
        background-color: #005f73;
        padding: 15px;
        color: white;
        text-align: center;
  }
  
  section {
       margin-top: 20px;
  }

  ul {
    list-style: none;
    padding: 0;
  }

li {
padding: 8px;
border-bottom: 1px solid #ccc;
display: flex;
align-items: center;
justify-content: space-between;
transition: background-color 0.3s;
}

li:hover {
background-color: #e0f7fa;
}

button, imput[type="text"]{
padding: 8px;
margin-top: 10px;
}

img{
max-width: 200px;
display: none;
margin-top: 10px;
border: 2px solid #005f73;
}





    
    
    

  
